<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
     <!--
     Use Cases
     =========
     1. List a set of bugs - done
     2. Add a new bug - done
     3. Toggle the 'closed' status of a bug
     4. Remove closed bugs
     5. Search for bugs
     6. Sort the bugs
     7. Display stats (closed # - Total #)
     8. Change the bug title size for display
     9. Persist the bugs in the localstorage
     10. Display the created date of the bug
     11. Persist the bugs in the server
     12. Create a module for managing projects
     13. Authentication and Authorization
     14. Unit Test
     15. Deployment
     -->
     <style>
         .closed {
             color : red;
             font-style: italic;
             text-decoration: line-through;
             font-weight: bold;
         }
    </style>
     <script src="angular.js"></script>
     <script>
         var bugTracker = angular.module("bugTracker", []);
         bugTracker.controller("bugsController", function($scope){
            $scope.bugs = [
                {title : "Unable to login", isClosed : false},
                {title : "Data persistence failure", isClosed : false},
                {title : "Server communication fails often", isClosed : false}
            ];
            $scope.bugTitle = '';
            $scope.addBug = function(){
                $scope.bugs.push($scope.bugTitle);
                $scope.bugTitle = '';
            };
            $scope.toggle = function(bug){
                bug.isClosed = !bug.isClosed;
            };
            $scope.removeClosed = function(){
                for(var i=$scope.bugs.length-1; i>=0; i--)
                    if ($scope.bugs[i].isClosed)
                        $scope.bugs.splice(i,1);
            }

         });
    </script>
</head>
<body ng-app="bugTracker">
    <h1>Bug Tracker</h1>
    <div class="content" ng-controller="bugsController">
        <div class="stats"></div>
        <div class="search"></div>
        <div class="sort"></div>
        <div class="bugsList">
            <label for="">Bug :</label>
            <input type="text" ng-model="bugTitle">
            <input type="button" value="Add Bug" ng-click="addBug()">
            <input type="button" value="Remove Closed" ng-click="removeClosed()">
            <ol>
                <li ng-repeat="bug in bugs" ng-click="toggle(bug)" ng-class="{closed : bug.isClosed}">{{bug}}</li>
            </ol>
        </div>
    </div>
</body>
</html>
