<h2>Customers</h2>
<div><u>All the customers will be displayed here</u></div>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam accusantium ducimus cumque nam debitis, rerum cum doloribus numquam illo laborum velit dolor accusamus, nobis error consequatur eaque maiores fugit iste. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora tenetur quidem rem iusto facere, ratione quo modi numquam nemo rerum odio, officia cumque iste quod. Ducimus repellendus qui, hic vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio nostrum, asperiores reprehenderit ex minus iure consequatur nobis, maiores error dolores quas eligendi, dolorem libero assumenda quod. Illum debitis et, veniam.
</div>
